
/*_____MENU__________________________*/


#menu_user {
	height: auto; overflow: hidden;
	background: #f5f5f5;
	border: 1px solid; 
	border-color: #e5e5e5 #aaa #aaa #e5e5e5;
	margin: 20px 0 20px 0;
	padding: 10px;
	font-size:11px;
}
	#menu_user .img_usuario {
		margin: 5px 8px 0 0;
		border: 1px solid #ddd;
	}

	#menu_user a {
		display: inline-block;
		margin: 6px 2px 0 2px;
	}
	
#menu {
	background: #fff;
	float: left;
	font: 14px arial;
	width: 160px;
	margin: 0px;
	padding: 0px 0px 30px 0px;
}

#menu ul {
	list-style: none;
	color:  #fff;
	margin: 0px;
	padding: 0px;
	border: 0;
}	

#menu li {
	margin: 0px;
	padding: 0px;
	border: 0;
	font: 12px/20px arial, verdana;
	color: #000;
	background: #fff;
	border-left: 9px solid #f5f5f5;
	border-top: 1px solid #e6e6e6;
}	

#menu li.nomeusuario {
	margin: 0px;
	padding-left: 20px;
	border: 0;
	font: 12px/20px arial, verdana;
	color: #000;
	background: #fff url(../imagens/seta.gif) left no-repeat;
	border-left: 0;
}	

#menu li.last {
	margin: 0px;
	padding: 0px;
	border: 0;
	font: 12px/20px arial, verdana;
	color: #fff;
	background: #fff;
	border-left: 9px solid #f5f5f5;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}	

#menu li a {
	display: block;
	width: 141px; 
	padding: 0px 0px 0px 10px;
	color:  #666;
	background: #fcfcfc;
	text-decoration: none;
}	

#menu li a:hover {
	color:  #000;
	background: #fff;
	text-decoration: none;
	width: 139px; 
	padding: 0px 0px 0px 8px;
	border-left: 2px solid #000;
}	


/*
#menubusca {background: url(../imagens/bg_busca.gif) top left no-repeat; margin: 20px 0px 0px 0px; padding-bottom: 10px; border: 1px solid #f5f5f5;}
#menubusca h4 {margin: 0px; padding: 0px; display: block; height: 30px; cursor: pointer;}	
*/

#menu h3 {margin: 20px 0 0 0; background: url(../imagens/h3_menu.gif) no-repeat center; padding: 6px 0 0 18px; display: block; height: 24px; cursor: pointer; color: #000;}

	